<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eligasht">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".reservation.base.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_e"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_e"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl,icon, label,android:allowBackup">
        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <!--android:name=".reservation.views.ui.SplashActivity"-->
        <activity

            android:name=".reservation.views.activities.main.MainActivity"

            android:configChanges="orientation|screenSize|locale"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reservation.views.activities.loginMVP.view.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".reservation.views.activities.hotel.activity.GetHotelCityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".reservation.views.activities.hotel.activity.GetHotelRoomCountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".reservation.views.activities.hotel.activity.SelectHotelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
      <!-- <activity
            android:name=".reservation.views.activities.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />-->
        <activity
            android:name=".reservation.views.activities.hotel.activity.DetailHotelActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reservation.views.activities.ShakeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".reservation.views.activities.FlightSeatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reservation.views.activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reservation.views.ui.PassengerHotelActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDCzLClp1-Wulmj8L2sUa6dVc-mar3pKEo" />

        <activity
            android:name=".reservation.views.ui.PassengerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" /><activity
            android:name=".reservation.views.ui.scan.PassportScannerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reservation.views.activities.survey.SurveyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reservation.views.activities.new_survey.MainSurveyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reservation.views.ui.SearchFlightActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".reservation.views.ui.GetAirportMabdaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.train.GetCityTrainMabdaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.train.GetCityTrainMaghsadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.train.SearchTrainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.train.PassengerTrainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.ui.GetAirportMaghsadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.ui.CountrycodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.ui.NationalitycodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.pack.SearchPackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.nlogin.Nlogin"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".reservation.map.OverlayRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.hotel.activity.ImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.hotel.activity.SelectHotelFlightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.ConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.insurance.AddPassengerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reservation.views.activities.addPassenger.SavePassengerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reservation.views.activities.insurance.SearchInsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.AddRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.adapters.hotel.hotelProprtiesAdapter.GetAirportHotelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.ui.PassengerHotelFlightActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reservation.views.activities.login.LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.login.RegisterLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.login.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.insurance.PassengerInsuranceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reservation.views.activities.pack.PassengerPackageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reservation.views.activities.login.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".reservation.lost.FinalResult">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="invoice"
                    android:scheme="eligasht" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reservation.views.activities.pack.PackageServicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.insurance.InsurnaceDetailsActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.novoda.merlin.service.MerlinService"
            android:exported="false" />

        <activity
            android:name=".reservation.views.activities.transfer.TransferActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".reservation.views.activities.transfer.GetHotelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.login.SuccessResetPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.ui.GetCountriesForInsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.hotel.activity.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.ui.GetCitiesForPackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservation.views.activities.GetPassengerActivity"
            android:screenOrientation="portrait" />







        <meta-data
            android:name="DATABASE"
            android:value="eligasht.db" />
        <meta-data
            android:name="VERSION"
            android:value="6" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.eligasht" />


    </application>

</manifest>